<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%> 
<!-- 第一行 可以導入 views 的 partials 裡面的head.ejs -->


    <%- include('partials/navbar')%> 
    <h1>The home page  測試JS<%=4+5+6 %></h1>
    <p>hi</p>
    <p>測試用</p>
</body>
</html>