<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%> 
<!-- 第一行 可以導入 views 的 partials 裡面的head.ejs -->


    <%- include('partials/navbar')%> 
    <h1>抱歉 沒有這個<%= subreddit %>子網域</h1>
    <%- include('partials/footer')%> 